<h2>Dashboard</h2>

<button routerLink="create-users">Create Users</button>
<button (click)="logout()">Logout</button>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Image</th>
            <th>Name</th>
            <th>Email</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of usersListing">
            <td>{{ user.id }}</td>
            <td><img [src]="user.avatar"></td>
            <td>{{ user.first_name }} {{ user.last_name }}</td>
            <td>{{ user.email }}</td>
            <td><button routerLink="details/{{user.id }}">View</button></td>
            <td><button routerLink="edit/{{user.id }}">Edit</button></td>
            <td><button (click)="deleteUser(user.id)">Delete</button></td>
        </tr>
    </tbody>
</table>

<a *ngIf="previousLink != 0" (click)="goToRoute(previousLink)">Prev</a>
<a *ngIf="nextLink != 0" (click)="goToRoute(nextLink)">Next</a>
