<h2>Sign In</h2>
<p><a routerLink="/signup">Sign Up</a></p>
<form *ngIf="!showSuccessMessage else successMessage" name="form" (ngSubmit)="signinForm.form.valid && onSubmit()" #signinForm="ngForm" novalidate>
  <div class="form-group">
    <label for="email"><b>Email</b></label><br>
    <input type="text" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" [ngClass]="{ 'is-invalid': email.invalid }" required email />
    <div *ngIf="email.invalid" class="invalid">
      <div *ngIf="email.dirty && email.errors.required">Email is required</div>
      <div *ngIf="email.dirty && email.errors.email">Email must be a valid email address</div>
    </div>
  </div>
  <br>
  <div class="form-group">
    <label for="password"><b>Password</b></label><br>
    <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" [ngClass]="{ 'is-invalid': password.invalid }" required/>
    <div *ngIf="password.invalid" class="invalid">
      <div *ngIf="password.dirty && password.errors.required">Password is required</div>
    </div>
  </div>
  <br>
  <div class="form-group">
    <button [disabled]="signinForm.form.invalid" type="submit">Login</button>
  </div>
</form>

<ng-template #successMessage>
  Login Successfull, Please wait while we redirect you to the dashboard.
</ng-template>
<div *ngIf="showFailedMessage">Incorrect username or password.</div>

<br><br>

"email": "eve.holt@reqres.in", <br>
"password": "cityslicka"